<div class="planets f-roboto">
  <header class="planets__header">
    <div class="planets__logo">Шапка</div>
    <nav class="planets__nav">
      <ul class="planets__links">
        <li class="planets__link">
          <img src="assets/img/parallax/linkedin.png">
        </li>
        <li class="planets__link">
          <img src="assets/img/parallax/facebook.png">
        </li>
        <li class="planets__link">
          <img src="assets/img/parallax/instagram.png">
        </li>
      </ul>
    </nav>
  </header>

  <section class="planets__screen">
    <div class="planets__scene" #scene>
      <div class="planets__bg" data-depth="0.1">
        <img src="assets/img/parallax/background.png">
      </div>
      <div class="planets__rock-1" data-depth="0.2">
        <img src="assets/img/parallax/rock.png">
      </div>
      <div class="planets__earth" data-depth="1.2">
        <img src="assets/img/parallax/earth.png">
      </div>
      <div class="planets__text" data-depth="0.1">
        <h1>UnitCode</h1>
      </div>
      <div class="planets__mid" data-depth="0.4">
        <img src="assets/img/parallax/mid.png">
      </div>
      <div class="planets__fore" data-depth="0.1">
        <img src="assets/img/parallax/foreground.png">
      </div>
    </div>
  </section>

  <section class="planets__screen planets__information">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-number">
            <p><span>Меркурий</span></p>
          </div>
          <div class="slide-text">
            <h4><span>01 </span></h4>
          </div>
          <div class="slide-detail">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto cumque deserunt dicta, dolor dolores eius maiores minima quae quod.</span>
            </p>
          </div>
          <div class="slide-detail-facts">
            <h5>Orbit period: <span class="fact">87.97 Earth Days</span></h5>
          </div>
          <div class="slide-detail-facts">
            <h5>Known moons: <span class="fact">None</span></h5>
          </div>
          <div class="slide-img"></div>
        </div>


        <div class="swiper__slide">
          <div class="slide-number">
            <p><span>Mercury</span></p>
          </div>
          <div class="slide-text">
            <h4><span>01 </span></h4>
          </div>
          <div class="slide-detail">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto cumque deserunt dicta, dolor dolores eius maiores minima quae quod.</span>
            </p>
          </div>
          <div class="slide-detail-facts">
            <h5>Orbit period: <span class="fact">87.97 Earth Days</span></h5>
          </div>
          <div class="slide-detail-facts">
            <h5>Known moons: <span class="fact">None</span></h5>
          </div>
          <div class="slide-img"></div>
        </div>


        <div class="swiper__slide">
          <div class="slide-number">
            <p><span>Mercury</span></p>
          </div>
          <div class="slide-text">
            <h4><span>01 </span></h4>
          </div>
          <div class="slide-detail">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto cumque deserunt dicta, dolor dolores eius maiores minima quae quod.</span>
            </p>
          </div>
          <div class="slide-detail-facts">
            <h5>Orbit period: <span class="fact">87.97 Earth Days</span></h5>
          </div>
          <div class="slide-detail-facts">
            <h5>Known moons: <span class="fact">None</span></h5>
          </div>
          <div class="slide-img"></div>
        </div>

        <div class="swiper__slide">
          <div class="slide-number">
            <p><span>Mercury</span></p>
          </div>
          <div class="slide-text">
            <h4><span>01 </span></h4>
          </div>
          <div class="slide-detail">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto cumque deserunt dicta, dolor dolores eius maiores minima quae quod.</span>
            </p>
          </div>
          <div class="slide-detail-facts">
            <h5>Orbit period: <span class="fact">87.97 Earth Days</span></h5>
          </div>
          <div class="slide-detail-facts">
            <h5>Known moons: <span class="fact">None</span></h5>
          </div>
          <div class="slide-img"></div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <div>
      <div class="rockbg1">
        <img src="assets/img/parallax/rock.png">
      </div>
      <div class="planet-links">

      </div>
    </div>
  </section>
</div>
