<div class="planets f-roboto">
  <header class="planets__header">
    <div class="planets__logo">Шапка</div>
    <nav class="planets__nav">
      <ul class="planets__links">
        <li class="planets__link">
          <img src="assets/img/parallax/linkedin.png">
        </li>
        <li class="planets__link">
          <img src="assets/img/parallax/facebook.png">
        </li><li class="planets__link">
        <img src="assets/img/parallax/instagram.png">
      </li>
      </ul>
    </nav>
  </header>

  <section class="planets__screen">
      <div class="planets__scene" #scene>
        <div class="planets__bg" data-depth="0.1">
          <img src="assets/img/parallax/background.png">
        </div>
        <div class="planets__rock-1" data-depth="0.2">
          <img src="assets/img/parallax/rock.png">
        </div>
        <div class="planets__earth" data-depth="1.2">
          <img src="assets/img/parallax/earth.png">
        </div>
        <div class="planets__text" data-depth="0.1">
          <h1>UnitCode</h1>
        </div>
        <div class="planets__mid" data-depth="0.4">
          <img src="assets/img/parallax/mid.png">
        </div>
        <div class="planets__fore" data-depth="0.1">
          <img src="assets/img/parallax/foreground.png">
        </div>
      </div>
  </section>

  <section class="planets__screen">
    <div class="swiper__container">
      <div class="swiper__wrapper">
        <div class="swiper__slide">
          <div class="swiper__slide-number"></div>
        </div>
      </div>
    </div>
  </section>
</div>
