<div class="cards f-montserrat">
<ul class="cards__list">
  <li class="cards__item">
    <div class="cards__content">
      <img src="../../../assets/img/cards/service_ind.png">
      <h3>Веб-разработка <br>и дизайн</h3>
      <p>Создание сайтов и веб-проектов для решения уникальных бизнес-задач.</p>
      <a class="" href="#">Подробнее</a>
    </div>
  </li>
  <li class="cards__item">
    <div class="cards__content">
      <img src="../../../assets/img/cards/service_support.png">
      <h3>Техническая поддержка</h3>
      <p>Актуализация контента, устрание ошибок, расширение функционала.</p>
      <a class="" href="#">Подробнее</a>
    </div>
  </li>
  <li class="cards__item">
    <div class="cards__content">
      <img src="../../../assets/img/cards/service_seo.png">
      <h3>Поисковое продвижение</h3>
      <p>Привлечение клиентов и увеличение видимости сайта в поисковых системах.</p>
      <a class="" href="#">Подробнее</a>
    </div>
  </li>
</ul>
</div>
