<div class="space-parallax">
  <ul class="space-parallax__scene" #scene>
    <li class="space-parallax__layer" data-depth="0.3">
      <img src="assets/img/parallax/planet-1.png">
    </li>
    <li class="space-parallax__layer" data-depth="0.5">
      <img src="assets/img/parallax/planet-2.png">
    </li>
    <li class="space-parallax__layer" data-depth="0.4">
      <img src="assets/img/parallax/astronaut.png">
    </li>
    <li class="space-parallax__layer" data-depth="0.2">
      <img src="assets/img/parallax/rocket.png">
    </li>
  </ul>
</div>
