<div class="scroll f-poppins">
  <div class="scroll__container">
    <section class="scroll__section">
      <div class="scroll__content">
        <h2>Section 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloremque maiores officia quae
          reprehenderit? Adipisci assumenda eveniet nobis officia, officiis provident quisquam sapiente. Amet asperiores
          aspernatur consectetur delectus dolor eum facilis laboriosam libero, modi natus neque nihil nisi officiis
          pariatur praesentium provident quae reiciendis repellat repellendus sint temporibus tenetur ullam?</p>
      </div>
    </section>
    <section class="scroll__section">
      <div class="scroll__content">
        <h2>Section 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloremque maiores officia quae
          reprehenderit? Adipisci assumenda eveniet nobis officia, officiis provident quisquam sapiente. Amet asperiores
          aspernatur consectetur delectus dolor eum facilis laboriosam libero, modi natus neque nihil nisi officiis
          pariatur praesentium provident quae reiciendis repellat repellendus sint temporibus tenetur ullam?</p>
      </div>
    </section>
    <section class="scroll__section">
      <div class="scroll__content">
        <h2>Section 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloremque maiores officia quae
          reprehenderit? Adipisci assumenda eveniet nobis officia, officiis provident quisquam sapiente. Amet asperiores
          aspernatur consectetur delectus dolor eum facilis laboriosam libero, modi natus neque nihil nisi officiis
          pariatur praesentium provident quae reiciendis repellat repellendus sint temporibus tenetur ullam?</p>
      </div>
    </section>
    <section class="scroll__section">
      <div class="scroll__content">
        <h2>Section 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloremque maiores officia quae
          reprehenderit? Adipisci assumenda eveniet nobis officia, officiis provident quisquam sapiente. Amet asperiores
          aspernatur consectetur delectus dolor eum facilis laboriosam libero, modi natus neque nihil nisi officiis
          pariatur praesentium provident quae reiciendis repellat repellendus sint temporibus tenetur ullam?</p>
      </div>
    </section>
    <section class="scroll__section">
      <div class="scroll__content">
        <h2>Section 5</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloremque maiores officia quae
          reprehenderit? Adipisci assumenda eveniet nobis officia, officiis provident quisquam sapiente. Amet asperiores
          aspernatur consectetur delectus dolor eum facilis laboriosam libero, modi natus neque nihil nisi officiis
          pariatur praesentium provident quae reiciendis repellat repellendus sint temporibus tenetur ullam?</p>
      </div>
    </section>
  </div>
</div>
